<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>College News</title>
   <!-- <link rel="stylesheet" href="css/news.css"> -->
  <style>
    body{
      /* background-color: rgb(211, 211, 223); */
      background-color: white;

      height: 100vh;
    }
    #news-container{
      margin-top: 65px;
    display: grid;
     grid-template-columns: auto auto ;
     /* grid-auto-flow: row; */
     
      align-items: center;
      justify-content: center;
      margin-top: 60px;
      /* background-color: rgb(211, 211, 223); */

  }
  .news{

      border: 2px solid rgb(255, 252, 250);
      border-radius: 10px;
      
      width:  40vw;
     /* background-color: rgb(223, 218, 211); */
     background-color: white;
      /* height: 400px; */
      /* filter: drop-shadow(4); */
      min-height: 400px;
     
      padding: 10px;
      margin: 20px;
      /* box-shadow: 5px 5px rgb(255, 252, 250) ; */
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

      
      
}
.news:hover{
  transition: .5s ease-in-out;
   
   -webkit-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    -moz-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    transform: translateY(-5px);
}

.news img{
    position: relative;
    width: 80%;
    height: 200px;
    margin: auto;
    margin-left: 10%;
    /* font-size: 2rem; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

    border-radius: 10px;
    
}

img:after {
   
   position: absolute;
   top: 0;
   left: 0;
   content: " ";
   background-image: url('../assest/No-Image-found.jpg');
   background-size: 200px;
  width:100%;
  height: 200px;
  background-repeat: no-repeat;
    object-fit: fill;
    display: block;
    margin-left: 15%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

  
   
  }
  
  
.news-title{
    font-size: 1.4rem;
    /* margin: auto; */
    margin-left: 10%;
    margin-top: 15px;
}
.news-info{
  display: flex;
 margin-top: 15px;
  flex-wrap: wrap;
}
.news-info input {
  width: auto;
  line-height: 1.3rem;
  font-size: 1.2rem;
  padding: 5px;
  margin: 2px;
  background-color: var(--white-smoke);
  border-radius: 10px;
  border: none;
  background-color: f1f5f9;
  /* margin: auto; */
  color: var(--night-rider);
}
.news-info .card-text{
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}
.read-more{
  /* position: absolute; */
  
  /* margin: auto; */
 
    padding: 15px;        
    text-decoration: none;        
    
    background-color: var(--night-rider);
    font-size: 1.2rem;
    margin-left: 35%;
    border-radius: 8px;
    margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);



}
.read-more a{
    text-decoration: none;
    color: var(--white-smoke);
}
.read-more:hover{
    background-color: rgb(139, 139, 126);
}


@media screen and (max-width: 816px){
    #news-container{
        display: block;
    }
    .news{
      width:  80vw;
    }
     
    
    
}

  </style> 
</head>
<body>
  <%- include("../../partials/loader"); %>
  <%- include("../../partials/loader"); %>
  <%- include("../../partials/navigation",{author:authorname}); %>
  

 
<div id="news-container">
  <% articles.forEach(article => { %>

    <% if (article.status==true) {%>

        <div class="news">

              
          <div class="title center">
              <!-- <h2>Breaking News:${index+1} </h2> -->
          </div>
          <div class="news-container">

              <div class="image"><img src="data:image/image/png;base64,
                <%=article.image.data.toString('base64')%>" width='auto' height="350px" object-fit="fit"></div>
              <div class="news-title"><b><%= article.title %></b></div>
          
                <div class="news-info ">
                 
                    <input type="text"class="card-text mb-2 my-2 " disabled name="location"disabled value="Author Name :<%= article.Author_name  %>">
                
                   <input type="text"class="card-text mb-2 my-2 " disabled name="location"disabled value="Location:<%= article.location  %>">
               
                <!-- <div class="card-subtitle text-muted mb-2">
                 Date : <%= article.createdAt.toLocaleDateString() %>
                </div> -->
                <input type="text"class="card-text mb-2 my-2 " disabled name="location" disabled value=" Date :<%= article.createdAt.toLocaleDateString() %>">

                </div>
              <div class="card-body">
              <button class="read-more"> <a href="collegeNews/<%= article.id%>" target="_blank">Read more here</a> </button></div>


          </div>
        </div>
    
      <%} else { %>


        <!-- <p> Notheing to show</p> -->


        <%}%>

      
      

    
    <% }) %>
</div>
  <%- include("../../partials/footer"); %>
  
</body>
</html>