<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News</title>
</head>

<link rel="stylesheet" href="css/news.css">
<link rel="stylesheet" href="css/popup.css">

<body>
  <%- include("../partials/navigation",{token:data.token,author:authorname}); %>

  <div id="errorBox">
     
    <% if ( data.errorMessage ) {%>
    
      <div id="errorBox" class="alert  errorMessage "style="background-color:  <%=data.errorMessage.type%>;" >
    
      <button type="button", style="padding: 10px; font: size 1.2em;" class="close- dismissBtn" id="dismissBtn"  data-dismiss="alert">&times;</button>
      
      <%=data.errorMessage.message %>
    
    </div>
    
    <%}%>
</div>

 

  <div class="news-section" id="news-section">
    <div class="container">
      <div class="row">
        <div class="detail-item wow animate__animated animate__fadeInLeft animate__slow">
          <span><i class="fas fa-tablet-alt"></i></span>
          <h2><a href="/global-news">Global News</a></h2>
          <div class="line"></div>
          <p class="text">Visit this section to see all latest News of the world</p>
        </div>

        <div class="detail-item wow animate__animated animate__fadeInUp animate__s">
          <span><i class="fab fa-html5"></i></span>
         <h2><a href="/articles">Local News</a></h2>
          <div class="line"></div>
          <p class="text">Visit this section to see all latest News of your locality</p>
        </div>

        <div class="detail-item wow animate__animated animate__fadeInRight animate__slow">
          <span><i class="far fa-bell"></i></span>
            <h2><a href="/articles/upload">Upload News</a></h2>

          <div class="line"></div>
          <p class="text">Visit this section to Upload Your  News</p>
        </div>
        <div class="detail-item wow animate__animated animate__fadeInRight animate__slow">
          <span><i class="far fa-bell"></i></span>
          <h2><a href="/articles/collegeNews">College News</a></h2>
          <div class="line"></div>
          <p class="text">Visit this section to see all latest News of Your college</p>
        </div>
      </div>
    </div>
  </div>


  <%- include("../partials/translator"); %>

  <div class="top-news-container">
        <h1>Top 20 news</h1>
        <div id="wait"></div>
        <div id="main-news">
    
        </div>
    <div id="news-container">
     
</div>




<%- include("../partials/footer"); %>
</body>

<script>
  const API_KEY=`<%- API_KEY%>`
  // console.log(api)
  // const API_KEY="e4fc72735a3743afae298a92b13d3dd0"
// const API_KEY=api;
console.log("welcome");
// topNewsContainer = document.querySelector(".top-news-container")
newscontainer=document.getElementById("news-container")
// console.log(topNewsContainer)
const xhr = new XMLHttpRequest();
xhr.open('GET', `https://newsapi.org/v2/top-headlines?country=in&category=science&apiKey=${API_KEY}`, true);
// xhr.open('GET', 'https://newsapi.org/v2/top-headlines?sources=bbc-news&apiKey=e4fc72735a3743afae298a92b13d3dd0', true);


// for wait or loading 
let wait=document.getElementById('wait').addEventListener('progress',waitfunc());
function waitfunc(){
    let wait = document.getElementById('wait');
    // alert("Video progress");
    wait.innerHTML="<h1>please wait....</h1>"
}


//  when data is loaded 

xhr.onload = function () {
    if (this.status == 200) {
        let json = JSON.parse(this.responseText);
        let articles = json.articles;
        let newsHtml = "";
        console.log(articles)
        articles.forEach(function (element, index) {
            let date = new Date(element.publishedAt)
                           let formatteddate= date.toLocaleDateString() 
                           console.log(formatteddate)

            let news =  `<div class="news">

        
                <div class="title center">
                    <h2>Breaking News:${index+1} </h2>
                </div>
                <div class="news-container">

                    <div class="image"><img src="${element['urlToImage']}" ></div>
                    <div class="news-title"><h3>${element["title"]}</h3></div>
                

                    <div class="card-body news-title"> 

                        <b>Author : ${element["author"]}</b>
                        <b>Date :${formatteddate}</b>
                    </div>
                       
                    

                    <button class="read-more"> <a href="${element['url']}" target="_blank">Read more
                            here</a> </button></div>
        
        
                </div>
            </div>`
                newsHtml += news; 
        })
        // topNewsContainer.innerHTML = newsHtml;
        newscontainer.innerHTML=newsHtml
    } else {

        console.log("Some error occured")
    }
    wait = document.getElementById('wait').style.display='none';
}


xhr.send();

</script>
<script src="js/popup.js"></script>
 <!-- <script src="js/delte.js"></script>  -->

</html>